# Go build artifacts
/git-keyfold
/git-keyfold.exe
/keyfold
/keyfold-controller
/kubectl-keyfold
/bin/

# If `git keyfold init` is ever run against this repo itself
.keyfold/key
.repo-enc/key

# Editor cruft
.obsidian/
